option {
    color: var(--dark-gray);
}

.status-select {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    color: var(--white);
    white-space: nowrap;
    border: none;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    text-align: center;
    text-align-last: center;

    cursor: pointer;
    max-width: 100px;

    background-color: var(--primary-color);
    background-image: none;
}

.status-select.done {
    background: linear-gradient(45deg, var(--success), var(--success-dark));
}

.status-select.progress {
    background: linear-gradient(45deg, var(--primary), var(--primary-dark));
}

.status-select.pending {
    background: linear-gradient(45deg, var(--warning), var(--warning-dark));
}
